.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f6f4f0;
}

.lmr {
  display: flex;
  gap: 20px;
  padding: 20px;
  overflow-y: auto;
  flex: 1;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #f6f4f0;
}

.home-container > :first-child {
  position: sticky;
  top: 0;
  z-index: 1100;
}